---

---

<div class="progress-bar"></div>

<style>
  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100%);
    height: 10px;
  }
</style>

<script>
  ;(function (window, document) {
    const pb = document.querySelector('.progress-bar')

    const update = () => {
      const read = window.scrollY
      const goal =
        document.documentElement.scrollHeight - window.innerHeight - 10
      let progress = Math.floor((read / goal) * 100)
      if (read < 0) {
        progress = 0
      } else if (read > goal) {
        progress = 100
      }
      pb.style.background = `linear-gradient(to right, tomato 0% ${progress}%, #d9d9d9 ${progress}% 100%)`
    }

    window.addEventListener('scroll', update)
  })(window, document)
</script>
